# Extraction
tweepy
praw
kagglehub[pandas-datasets]

# Configuration
python-dotenv

# Data Processing
pandas
numpy

# NLP
nltk
transformers

# Visualisation
matplotlib
seaborn

requests
pandas
yfinance
